<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-107">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li cs-copyright">
                © 2024 Copyright by JP Webdesign
            </li>
            <li class="cs-li">
                <a href="/#page-home" class="cs-link cs-active">
                    Home
                </a>
            </li>
            <li class="cs-li">
                <a href="/#gallery-jp" class="cs-link">
                    Galerie
                </a>
            </li>
            <li class="cs-li">
                <a href="/#services-20" class="cs-link">
                    Informationen
                </a>
            </li>
            <li class="cs-li">
                <a href="/#sbs-1006" class="cs-link">
                    Buchung
                </a>
            </li>
            <li class="cs-li">
                <a href="/imprint" class="cs-link-imprint">Impressum</a>
            </li>
            <li class="cs-li">
                <a href="/privacy" class="cs-link-imprint">Datenschutz</a>
            </li>
        </ul>
    </div>
</footer>
