<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-104">
    <div class="cs-container">
        <ul class="cs-ul">
            
            <li class="cs-li">
                <a href="/#ferienwohnung" class="cs-link cs-active">
                    Start
                </a>
            </li>
            <li class="cs-li">
                <a href="/#bilder-ferienwohnung" class="cs-link">
                    Bilder
                </a>
            </li>
            <li class="cs-li">
                <a href="/#informationen-ferienwohnung" class="cs-link">
                    Informationen
                </a>
            </li>
            <li class="cs-li">
                <a href="/#buchung-ferienwohnung" class="cs-link">
                    Buchung
                </a>
            </li>
            <li class="cs-li">
                <a href="/imprint" class="cs-link-imprint">Impressum</a>
            </li>
            <li class="cs-li">
                <a href="/privacy" class="cs-link-imprint">Datenschutz</a>
            </li>
        </ul>
        <span class="cs-copyright">© 2024 JP Webdesign</span>
    </div>
</footer>
