<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-104">
    <div class="cs-container">
        <ul class="cs-ul">
            
            <li class="cs-li">
                <a href="/#page-home" class="cs-link cs-active">
                    Home
                </a>
            </li>
            <li class="cs-li">
                <a href="/#gallery" class="cs-link">
                    Galerie
                </a>
            </li>
            <li class="cs-li">
                <a href="/#services" class="cs-link">
                    Informationen
                </a>
            </li>
            <li class="cs-li">
                <a href="/#booking" class="cs-link">
                    Buchung
                </a>
            </li>
            <li class="cs-li">
                <a href="/imprint" class="cs-link-imprint">Impressum</a>
            </li>
            <li class="cs-li">
                <a href="/privacy" class="cs-link-imprint">Datenschutz</a>
            </li>
        </ul>
        <span class="cs-copyright">© 2024 JP Webdesign</span>
    </div>
</footer>
